<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ticket Tokens</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://dapps.stanford.edu/web3/web3-1.0.0-beta.34.min.js"></script>
    <script src="/js/bundle.js"></script>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<% include metamask.ejs %>
	<div id="song-list">
		<% for (var i=0; i < songs.length; i++) { %>
	    	<div class="song-box" id="<%= songs[i].filename%>" >
	    		<a href="/t/<%= songs[i].filename%>">
		    		<div class="content">
		    			<div class="table">
		    				<div class="table-cell">
			    				<h2><%= songs[i].name %></h2>
								<div><%= songs[i].price %> ETH</div>
								<div><%= songs[i].numTickets %> Tickets Left</div>
		    				</div>
						</div>
					</div>
				</a>
			</div>
		<% } %>
	</div>
	<div id="floating-action-button">
		<form action="/generate" method="get">
	    	<button type="submit" class="fab">+</button>
		</form>
	</div>
</body>
</html>