<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ticket Tokens</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://dapps.stanford.edu/web3/web3-1.0.0-beta.34.min.js"></script>
    <script src="js/bundle.js"></script>
</head>
<body>
	<% include metamask.ejs %>
	<div id="song-list">
		<% for (var i=0; i < songs.length; i++) { %>

	    <div class="song-box" id="<%= songs[i].filename%>" >
				<div><%= songs[i].name %></div>
				<div><%= songs[i].price %></div>
				<div><%= songs[i].numTickets %></div>
			</div>

			<form action="/<%= songs[i].filename%>">
	    	<input type="submit" value="Listen" />
			</form>
		<% } %>
	</div>
	<div id="floating-action-button">
		<form action="/generate">
	    	<input type="submit" value="Upload Song" />
		</form>
	</div>
</body>
</html>