<html>
  <head>
      <title>Listen</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://dapps.stanford.edu/web3/web3-1.0.0-beta.34.min.js"></script>
      <script src="/js/bundle.js"></script>
      <link rel="stylesheet" href="/css/app.css">
   </head>
   <body>

       <% include metamask.ejs %>
       <div class="container" id="song" style="display:none">
      
          <h1><%= song.name%></h1>
          <div class="audio_player">
            <audio controls controlsList="nodownload">
              <source src="/uploads/<%= song.filename%>" type="audio/mpeg">
            </audio>
          </div> 

          <button class="home_button" action="/view" method="GET">Home</button>
       </div>

       <div class="container" id="purchase" style="display:none">
      
          <h1>Purchase a ticket?</h1>
      
          <h3>Song: <%= song.name %></h3>
          <h3><%= song.price %> ETH for lifetime access!</h3>
          <!-- <h2 name="price" id="test1"></h2> -->
          <h2 name="hostURL" style="display:none" id="test2"><%= song.filename %></h2>

          <button class="purchase_button" id="purchase_button">Buy Ticket</button>
          <button class="purchase_button" action="/view" method="GET">Nevermind</button>
       </div>

       <div class="tokenPurchased" id="tokenPurchased" style="display:none">
        <h2>Tokens Purchased!</h2>
      </div>

   </body>
</html>